body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.section{
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: none;
}
.calculadora{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.erro{
  color: red;
  font-size: .8em;
  display: none;
}
.carrossel, .carrosselTele, .carroselLiquido, .carrosselBruto, .carrosselNome, .carrosselProfissao{
  height: 100vh;
  width: 45vw;
  background-image: url(imgs/confidencial.png);
  background-position: center;
  background-size: cover;
}
.carrosselTele{
  background-image: url(imgs/qualSeuTelefone.png);
}
.carroselLiquido{
  background-image: url(imgs/SalarioLiquido.png);
}
.carrosselBruto{
  background-image: url(imgs/ficaTranquilo.png);
}
.carrosselNome{
  background-image: url(imgs/conteConosco.png);
}
.carrosselProfissao{
  background-image: url(imgs/contadorDireto-1.png);
}

.titulo{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.conteudo{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  text-align: center;
}
.tabela{
  justify-content: space-around;
  align-items: center;
}
.tabela table{
  width: 40vw;
}
.button-taxas{
  margin-top: 30px;
}
.promocao{
  width: 40vw;
  text-align: center;
}
.promocao h2{
  font-size: 5em;
}
.promocao p {
  font-size: 1.7em;
}
.promocao strong{
  font-weight: 600;
}
.cupom{
  height: 150px;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.cupom span{
  justify-content: flex-end;
  gap: 10px;
}
.cupom p {
  max-width: 350px;
  margin: 0;
  font-size: 1.2em;
}
.cupom button{
  height: 50px;
  width: 300px;
  font-family: 'Montserrat';
  font-weight: 600;
}

input::-webkit-input-placeholder {
  font-size: .7em;
}

h1,h2{
  font-family: 'Montserrat', sans-serif;
  color: #152B5E;
  margin: 0;
}

h1{
  font-size: 4em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2{
  font-size: 2.4em;
}

p, h3,label{
  font-family: 'Open Sans', sans-serif;
  color: #152B5E;
}
h3{
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}
label{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

.confidencial{
  font-size: 2em;
}

input{
  font-size: 22px;
  padding: 8px 0;
  border: 0;
  border-bottom: 2px solid;
  width: 30vw !important;
  color: #152B5E;
  background: transparent;
  border-radius: 0;
  outline: inherit;
}
span{
  width: 100%;
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .07em;
  color: #152B5E;
  background: #9ACC35;
  border: none;
  font-size: 1.5em;
  padding: 5px 15px;
  border-radius: 15px;
}
button:hover{
  color: #ffffff;
  cursor: pointer;
}

.section-ativo{
  display: flex;
}


@media(max-width: 912px){
  section{
    flex-direction: column-reverse;
    justify-content:start;
  }
  input{
    width: 80vw !important;
  }
  .inputs{
    text-align: center;
    align-items: center;
  }
  .carrossel, .carrosselTele{
    width: 100%;
    height: 50vh;
    margin-bottom: 40px;
  }
  .conteudo{
    padding-top: 0px;
    width: 100vw;
  }
  button{
    margin-bottom: 30px;
  }
  .promocao{
    width: 70vw;
    height: 50vh;
    align-items: center;
  }
  .promocao td{
    width: 25vw;
  }
  .promocao table{
    margin: 0 auto;
  }
  .tabela-resultado{
    max-width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cupom{
    flex-direction: column;
    align-items: center;
  }
  .cupom span{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media(max-width: 412px){
  .section{
    height: 100%;
  }
  .promocao h2{
    font-size: 4em;
  }
  .promocao p{
    font-size: 1.5em;
  }
  .cupom p{
    font-size: 1em;
  }
  .tabela-resultado{
    max-width: 100%;
    height: 100vh;
    display: flex;
  }

  .promocao{
    width: 70vw;
    height: 100vh;
    align-items: center;
  }
  .subTables{
    flex-direction: column;
  }
  h3{
    font-size: 1.2em;
  }
  h1{
    font-size: 2.5em;
  }
}
